
    
      html,
      body { height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    .main-block{
    
      height: 350px;
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px;
      border-radius: 5px;
      background-color: rgb(34, 55, 69);
    }

    .secondDiv{
      height: 350px;
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px;
      border-radius: 5px;
      background-color: rgb(34, 55, 69);

    }

    .heading-text{
      color: white;
    }
    .star-image{
      display:flex;
      margin-right: auto;
      margin-left: 20px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: rgb(59, 73, 83);
      justify-content: center;
      align-items: center;
      
    }
    

    .heading-text{
      width: 300px;
      text-align: justify;
   text-justify: inter-word;
    }
    .rating-numbers{
      margin-top: 10px;
      width: 300px;height:50px;
      display: flex;
      justify-content: space-between;
     
      
    }
    .rating-numbers-images{
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      text-align: center;
      color: grey;
      display: flex;
      background-color: rgb(59, 73, 83);
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      
      
    }
    button{
      background-color: rgb(245, 123, 30);
      color: white;
      width: 300px;
      height: 40px;;
      border-radius: 50px;
      margin-top:15px;
      border: 1px;
      border-color: rgb(245, 123, 30);
      cursor: pointer;


    } 
    button:hover{
      background-color: white;
      color: orange;
    }

    .hide{
        display:flex;
        flex-direction: column;
        display: none;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        border-radius: 10px;
        background-color: rgb(52, 50, 50);
    }
    .selected-rating{
      display: flex;
     
      align-items: center;

      width: 200px;
      height: 30px;
      border-radius: 10px;
      background-color: rgb(52, 50, 50);
    }

    .first-line , #rating{
      color:rgb(245, 123, 30);
      font-size: medium;
      margin-right: -15px;
      margin-left: 18px;
    }

    .grey-bg-rating{
      background-color: rgb(186, 182, 182);
    }
